.container {
    margin: 0 auto;
    max-width: 400px;
    width: 90%;

    button {
        background: $button-background;
        border: 0;
        border-radius: $border-radius;
        color: $button-text;
        display: block;
        font-size: 30px;
        height: 75px;
        margin: 0 auto;
        width: 100%;
    }

    .counter {
        color: $label-color;
        font-family: Arial, sans-serif;
        font-size: 20px;
        font-weight: bolder;
        text-align: center;
    }
}
